:root{
    /* fuentes para la tipografia de la pagina */
    --fuenteparrafos:'Open Sans', sans-serif;
    --fuenteheading: 'PT Sans', sans-serif;

    /* paleta de colores */
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

/* GLOBALES */

/* añadiendo los estilos globales a la pagina */

html{
    box-sizing: border-box;
    /* le pasamos los tamaños estandares para las fuentes */
    font-size:62.5%; /*esto equivale a que 1 rem vale 10px*/

}
*,*::before,*::after{
    box-sizing: inherit;
}
/* añadimos el tamaño de la fuente  a la pagina por medio del body */
body{
    font-size: 1.6rem; /*16px*/
    font-family: var(--fuenteparrafos);
    line-height: 2; /*esto me agrega un interlineado al parrafo*/
}
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
/* quitamos las lineas de los enlaces */
a{
    text-decoration: none;
}
/* damos los estilos a los titulos */
h1,h2,h3,h4{
    font-family: var(--fuenteheading);
    text-align: center;
    line-height: 1;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;

}
h3{
    font-size: 3.2rem;

}
h4{
    font-size: 2.8rem;

}

/* imagenes */
img{
    max-width: 100%;
}

/* UTILIDADES */

/* quitamos los margenes de los contenedores */
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.text-aling{
    text-align: center;
}

/*HEADER*/
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;/*le damos pocision a la imagen para que sea adaptable a la pantalla*/
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

/* en tamaño mas grade tenemos que dejar el texto centrado con un media */
@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}
.barra{
    padding-top: 4rem;
}
@media (min-width: 768px) {
    
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
}

.logo{
    color: var(--blanco);
}
.logo__nombre{
    font-weight: normal;
}
.logo__bold{
    font-weight: bold;
}
@media (min-width: 768px) {
    .navegacion{
        display:flex;
        gap:2rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

/* cuerpo de la pagina */

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    
}

}
.entrada{
    border-bottom: 1px  solid var(--gris);
    margin-bottom: 2rem;
}
/* el ultimo articulo del bog no tendra la linea inferior */
.entrada:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

/* creamos los estilos del boton */
.boton{
    display: block;
    color: var(--blanco);
    font-family: var(--fuenteheading);
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
/* boton principal llebara el fondo negro  */
.boton--primario{
    background-color: var(--negro);
}
@media (min-width: 768px) {
    .boton{
        display:inline-block;
       
    }
}
/* listado de los cursos en el asidebar */

.cursos{
    list-style: none;
}
.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso__label, .widget-curso__info{
    font-size: 2rem;
}
.widget-curso__label{
    font-family: var(--fuenteheading);
    font-weight: 700;
}
.widget-curso__info{
    font-weight: normal;
}
.boton--secundario{
    background-color: var(--primario);
}
